# **Load Data**

In [1]:
import pandas as pd
df = pd.read_csv("/content/cleaned_airline_satisfaction (1) (1).csv")
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25.0,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1.0,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0.0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11.0,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0.0,0.0,satisfied

# **Feature Engineering**

In [2]:
df['total_service_score'] = (
    df['Seat comfort'] +
    df['Inflight service'] +
    df['Cleanliness']
)

df['is_loyal_customer'] = df['Customer Type'].apply(
    lambda x: 1 if x=='Loyal Customer' else 0
)

df['delay_flag'] = df['Arrival Delay in Minutes'].apply(
    lambda x: 1 if x>15 else 0
)

# **Encoding**

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['satisfaction_encoded'] = le.fit_transform(df['satisfaction'])

df[['satisfaction', 'satisfaction_encoded']].head()

              satisfaction  satisfaction_encoded
0  neutral or dissatisfied                     0
1  neutral or dissatisfied                     0
2                satisfied                     1
3  neutral or dissatisfied                     0
4                satisfied                     1

# **Scaling**

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['Flight_Distance_scaled'] = scaler.fit_transform(df[['Flight Distance']])

# **Before vs After**

In [8]:
df[['Flight Distance','Flight_Distance_scaled']].describe()

       Flight Distance  Flight_Distance_scaled
count    101613.000000            1.016130e+05
mean       1128.632537           -3.020819e-17
std         921.114146            1.000005e+00
min          31.000000           -1.191642e+00
25%         407.000000           -7.834383e-01
50%         814.000000           -3.415799e-01
75%        1660.000000            5.768776e-01
max        3736.000000            2.830681e+00

**Save** **CSV**

In [9]:
df.to_csv("airline_week4_feature_engineered.csv", index=False)